.MaterialAppBar {
    padding: 13px;
    background-color: #0064b7;
    color: white;
}

.Shadow {
    position: relative;
    box-shadow: 8px 5px 4px rgba(23, 227, 131, 0.7);
}

.Toolbar {
    flex-wrap: wrap;
}

.Toolbar-title {
    flex-grow: 1;
    background-color: #0064b7;
    color: white;
    text-decoration: none;
}

.Toolbar-title:active {
    color: white;
}

.Link {
    margin: 15px;
    border-bottom: 2px solid transparent;
    padding: 10px;
    font-size: 15px;
}

.Link:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #0091ea;
    text-decoration: none;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.Button {
    font-size: 13px;
    margin-left: 10px;
    border-color: #0091ea;
}

.Button:hover {
    background-color: #0091ea;
}